body {
  background-color: #003f91;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003f91;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #e5f4e3;
}

main {
  padding: 20px;
}
